<dash-header pageTitle="KLETECH EMS" imageUrl="dashboard-black" helpType="homepage"></dash-header>
<mat-tab-group class="tab-group">
    <mat-tab label="Manage">
        <mat-card>
            <mat-card-title class="middle-headline">KLETECH</mat-card-title>
            <mat-card-subtitle>Employee Payroll, Leave & Attendance <a routerLink="/employee" target="_blank" color="primary" mat-raised-button>KLETECH EMS</a>
            
            </mat-card-subtitle>
            <mat-divider></mat-divider> 
        </mat-card>
    </mat-tab>
    
</mat-tab-group>